.answer-section { background-color:#fbfbfb; padding: 20px 10px; }

ul.plinks-ul {    list-style: none;    border-bottom: 1px solid #e6e6e6; }
ul.plinks-ul li {    display: inline-block;    padding: 2px 4px;    background: #f5f5f5;    margin: 2px 8px;    }
ul.plinks-ul li a { padding: 2px 4px; }